services:
  - type: web
    name: student-super-mart
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.11.0
    autoDeploy: false